$backgroundLight:#38252e;
$shadowLight:5px 5px 10px #0c0b0b;
$colorNavsHeader:#ffffff;
$colorItemsFooter:#ffffff;
$colorHeader:#291e24;
$colorFooter:#291e24;
$shadowNavHeader:1px 1px 3px black;
$shadowText: 0 0 black;

/* maps */

$styleBackLight: (
    backgroung-color: $backgroundLight,
    box-shadow: $shadowLight,
    text-shadow: $shadowText
)