* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.body-home {
    height: 100vh;
}
.grid-container {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px 1fr 64px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
        .header-area {
            grid-area: header;
        }        
        .main-area {
            grid-area: main;
        }        
        .footer-area {
            grid-area: footer;
        }        
}
.header {
    background-color: #ffce75c7;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}
.navbar{
    padding: 0%;
    .navbar-nav{
        justify-content: space-evenly;
        width: 100%;
        .div-nav{
            display: flex;
            justify-content: space-evenly;
            width: 33.33%;
        }
    }
    .nav-titina {
        color: #ffffff;
        font-size: 200%;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1.5px;
        padding-top: 3px;
    }
    .navbar-brand{
        font-family: 'Bebas Neue';
        font-weight: bold;
        letter-spacing: 1.5px;
        text-shadow: 1px 1px 3px black;
    }
}
.logo-mobile {
    display: none;
}
.nav-enlace {
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    font-size: 160%;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-out;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 0.5px;
    .nav-enlace.active {
        text-decoration: underline;
    }
    &:hover,
    &:focus {
        text-decoration: underline;
        text-decoration-color: #825b16;
        font-size: 170%;
        color: #825b16;
    }
}
.footer {
    background-color: #AADED2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #825b16;
    .div-footer{
        width: 33.33%;
        text-align: center;
    }
    .titina-foot {
        font-weight: bold;
        font-size: 150%;
        font-family: 'Bebas Neue';
        color: #825b16;
        margin-bottom: 0;
        letter-spacing: 0.5px;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        .nav-enlace--color{
            color: #825b16;
            text-shadow: 0px 0px 0px;
            margin-left: 2%;
        }
    }
}
.nav-icon {
    margin: 10px
}
.main {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #f5efe5, #f8e9d0, #fae3bb, #fcdda6, #fed791, #f3d88c, #e7d888, #dad986, #c2de9a, #b1e0b0, #a8e0c3, #aaded2);
    h1 {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
    }
}

/* Acá comienza "Home" */

.section-home {
    width: 100%;
}
.div-bienvenidos {
    font-size: 17px;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    .img-home {
        width: 86%;
        height: 77vh;
        object-fit: cover;
    }
    .texto-home {
        display: grid;
        position: absolute;
        padding: 2%;
        background-color: #ffffffbf;
        box-shadow: 5px 5px 10px #7f7f7f;
        height: 65%;
        width: 60%;
        text-shadow: 0 0 black;
        align-content: space-evenly;
        .p-home {
            line-height: 1.5;
            padding: 0px 10px;
            text-align: center;
        }
    }
}

/* Acá comienza "Menu" */

.menu-container {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    justify-items: center;
    align-items: center;
    .h1-menu {
        background-color: #ffffffbf;
        box-shadow: 5px 5px 10px #7f7f7f;
        width: 90%;
        margin-top: 20px;
        padding: 5px;
        font-weight: normal;
    }
}
.div-entradas {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    padding: 20px;
    margin: 20px;
    .entradas-menu {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.div-principales {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    padding: 20px;
    margin: 20px;
    .principales-menu {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.div-postres {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    padding: 20px;
    margin: 20px;
    .postres-menu {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.div-bebidas {
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 black;
    .p-menu{
        margin-bottom: 0;
    }
}
.h3-menu {
    margin-top: 20px;
    margin-bottom: 5px;
}
.img-menu {
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 5px #7f7f7f;
}

/* Acá comienza "Galeria" */

.galeria-container {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    justify-items: center;
    align-items: center;
    .h1-galeria {
        background-color: #ffffffbf;
        box-shadow: 5px 5px 10px #7f7f7f;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
        width: 90%;
        font-weight: normal;
    }
}
.div-galeria {
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
    margin: 20px;
    justify-items: center;
    grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9";
        .img1 {
            grid-area: img1;
        }
        .img2 {
            grid-area: img2;
        }
        .img3 {
            grid-area: img3;
        }
        .img4 {
            grid-area: img4;
        }
        .img5 {
            grid-area: img5;
        }
        .img6 {
            grid-area: img6;
        }
        .img7 {
            grid-area: img7;
        }
        .img8 {
            grid-area: img8;
        }
        .img8 {
            grid-area: img9;
        }
}
.img-galeria {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 5px #7f7f7f;
    margin: 2%;
}

/* Acá comienza "Contactos" */

.contactanos {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
}
.section-contacto {
    width: 100%;
    font-size: 20px;
    margin: 3%;
    .div-contacto {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        .img-contacto {
            width: 86%;
            height: 77vh;
            object-fit: cover;
            object-position: top;
        }
        .div-formulario {
            display: grid;
            position: absolute;
            padding: 10px;
            background-color: #ffffffbf;
            box-shadow: 5px 5px 10px #7f7f7f;
            height: 60%;
            width: 60%;
            text-shadow: 0 0 black;
            align-content: space-evenly;
            justify-content: center;
            .formulario {
                display: grid;
                justify-items: end;
            }
        }
    }
}
.section-llegar {
    display: grid;
    padding: 2%;
    width: 86%;
    background-color: #ffffffbf;
    box-shadow: 5px 5px 10px #7f7f7f;
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
    align-items: center;
    .direccion {
        margin-top: 20px;
    }
    .map {
        border: 0;
        box-shadow: 5px 5px 5px #7f7f7f;
        width: 70%;
        height: 50vh;
        margin: 2%;
    }
}

/* Acá comienza "Reservas" */

.body-reservas {
    height: 100vh;
}
.section-reservas {
    width: 100%;
    font-size: 23px;
    text-align: center;
    .div-reservas {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        .img-reservas {
            width: 86%;
            height: 77vh;
            object-fit: cover;
        }
        
        .div-form {
            display: grid;
            position: absolute;
            padding: 10px;
            background-color: #ffffffcd;
            box-shadow: 5px 5px 10px #7f7f7f;
            height: 60%;
            width: 60%;
            text-shadow: 0 0 black;
            align-content: space-evenly;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 970px) {

    /* TABLET */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        color: rgba(0, 0, 0, .55);
        border-color: rgba(0, 0, 0, .1);
    }
    .grid-container {
        grid-template-rows: auto 1fr 64px;
    }
    .header {
        justify-content: unset;
    }
    .logo-mobile {
        display: block;
    }
    .logo-desk {
        display: none;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        color: rgba(0, 0, 0, .55);
        border-color: rgba(0, 0, 0, .1);
    }
    .nav-titina{
        margin: 0%;
    }    
    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-nav{
        display: flex;
        flex-direction: column;
    }

    /* Galeria */

    .div-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img8 img9";
    }
    .img-galeria--7 {
        display: none;
    }
    .img-galeria{
        width: 220px;
        height: 220px;
    }
}

@media only screen and (max-width: 575px) {

    /* MOBILE */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        color: rgba(0, 0, 0, .55);
        border-color: rgba(0, 0, 0, .1);
    }
    .logo-mobile {
        display: block;
    }    .logo-desk{
        display: none;
    }
    .grid-container {
        grid-template-rows: auto 1fr 64px;
    }
    .header {
        justify-content: unset;
    }
    .nav {
        flex-wrap: wrap;
    }
    .nav-titina{
        margin: 0%;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        margin: 20px 0;
    }
    .enlace-footer {
        flex-wrap: wrap;
        font-size: 70%;
    }
    .nav-icon {
        margin: 1px
    }
    .nav-footer {
        margin-left: 22px;
    }

    /* Home */

    .div-bienvenidos {
        font-size: 13px;
    }

    /* Menu */
    
    .img-menu {
        width: 100%;
        height: 100%;
    }
    .div-entradas {
        justify-content: center;
        flex-direction: column;
    }
    .div-principales {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .div-postres {
        justify-content: center;
        flex-direction: column;
    }
    .h2-menu {
        text-decoration: underline;
    }
    .menu-container {
        text-align: center;
    }

    /* Galeria */

    .div-galeria {
        grid-template-columns: 1fr;
        grid-template-areas:
        "img1" 
        "img2"
        "img3"
        "img4"
        "img5" 
        "img6"
        "img7"
        "img8"
        "img9";
    }
    .img-galeria {
        height: 300px;
        width: 300px;
    }    

    /* Contacto */

    .section-contacto {
        font-size: 15px;
    }

    /* Reservas */

    .section-reservas {
        font-size: 13px;
    }
}