@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body-home {
  height: 100vh;
}

.grid-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 60px 1fr 64px;
      grid-template-rows: 60px 1fr 64px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
}

.grid-container .header-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
}

.grid-container .main-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main;
}

.grid-container .footer-area {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: footer;
}

.header {
  background-color: #ffce75c7;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  padding: 0%;
}

.navbar .navbar-nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.navbar .navbar-nav .div-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 33.33%;
}

.navbar .nav-titina {
  color: #ffffff;
  font-size: 200%;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 3px;
}

.navbar .navbar-brand {
  font-family: 'Bebas Neue';
  font-weight: bold;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px black;
}

.logo-mobile {
  display: none;
}

.nav-enlace {
  font-family: 'Bebas Neue';
  color: #ffffff;
  font-size: 160%;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 0.5px;
}

.nav-enlace .nav-enlace.active {
  text-decoration: underline;
}

.nav-enlace:hover, .nav-enlace:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #825b16;
          text-decoration-color: #825b16;
  font-size: 170%;
  color: #825b16;
}

.footer {
  background-color: #AADED2;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #825b16;
}

.footer .div-footer {
  width: 33.33%;
  text-align: center;
}

.footer .titina-foot {
  font-weight: bold;
  font-size: 150%;
  font-family: 'Bebas Neue';
  color: #825b16;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer .nav .nav-enlace--color {
  color: #825b16;
  text-shadow: 0px 0px 0px;
  margin-left: 2%;
}

.nav-icon {
  margin: 10px;
}

.main {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5efe5), color-stop(#f8e9d0), color-stop(#fae3bb), color-stop(#fcdda6), color-stop(#fed791), color-stop(#f3d88c), color-stop(#e7d888), color-stop(#dad986), color-stop(#c2de9a), color-stop(#b1e0b0), color-stop(#a8e0c3), to(#aaded2));
  background-image: linear-gradient(to bottom, #f5efe5, #f8e9d0, #fae3bb, #fcdda6, #fed791, #f3d88c, #e7d888, #dad986, #c2de9a, #b1e0b0, #a8e0c3, #aaded2);
}

.main h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

/* Acá comienza "Home" */
.section-home {
  width: 100%;
}

.div-bienvenidos {
  font-size: 17px;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.div-bienvenidos .img-home {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.div-bienvenidos .texto-home {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 2%;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  height: 65%;
  width: 60%;
  text-shadow: 0 0 black;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.div-bienvenidos .texto-home .p-home {
  line-height: 1.5;
  padding: 0px 10px;
  text-align: center;
}

/* Acá comienza "Menu" */
.menu-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .h1-menu {
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  width: 90%;
  margin-top: 20px;
  padding: 5px;
  font-weight: normal;
}

.div-entradas {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  padding: 20px;
  margin: 20px;
}

.div-entradas .entradas-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-principales {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  padding: 20px;
  margin: 20px;
}

.div-principales .principales-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-postres {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  padding: 20px;
  margin: 20px;
}

.div-postres .postres-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-bebidas {
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 black;
}

.div-bebidas .p-menu {
  margin-bottom: 0;
}

.h3-menu {
  margin-top: 20px;
  margin-bottom: 5px;
}

.img-menu {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
}

/* Acá comienza "Galeria" */
.galeria-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria-container .h1-galeria {
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 90%;
  font-weight: normal;
}

.div-galeria {
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 3%;
  margin: 20px;
  justify-items: center;
      grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
}

.div-galeria .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.div-galeria .img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.div-galeria .img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img3;
}

.div-galeria .img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.div-galeria .img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img5;
}

.div-galeria .img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img6;
}

.div-galeria .img7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img7;
}

.div-galeria .img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img8;
}

.div-galeria .img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img9;
}

.img-galeria {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  margin: 2%;
}

/* Acá comienza "Contactos" */
.contactanos {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.section-contacto {
  width: 100%;
  font-size: 20px;
  margin: 3%;
}

.section-contacto .div-contacto {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-contacto .div-contacto .img-contacto {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-contacto .div-contacto .div-formulario {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 10px;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  height: 60%;
  width: 60%;
  text-shadow: 0 0 black;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-contacto .div-contacto .div-formulario .formulario {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}

.section-llegar {
  display: -ms-grid;
  display: grid;
  padding: 2%;
  width: 86%;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  font-size: 20px;
  text-align: center;
  margin-bottom: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-llegar .direccion {
  margin-top: 20px;
}

.section-llegar .map {
  border: 0;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  width: 70%;
  height: 50vh;
  margin: 2%;
}

/* Acá comienza "Reservas" */
.body-reservas {
  height: 100vh;
}

.section-reservas {
  width: 100%;
  font-size: 23px;
  text-align: center;
}

.section-reservas .div-reservas {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-reservas .div-reservas .img-reservas {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-reservas .div-reservas .div-form {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 10px;
  background-color: #ffffffbf;
  -webkit-box-shadow: 5px 5px 10px #7f7f7f;
          box-shadow: 5px 5px 10px #7f7f7f;
  height: 60%;
  width: 60%;
  text-shadow: 0 0 black;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  /* TABLET */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .grid-container {
    -ms-grid-rows: auto 1fr 64px;
        grid-template-rows: auto 1fr 64px;
  }
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .logo-mobile {
    display: block;
  }
  .logo-desk {
    display: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .nav-titina {
    margin: 0%;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Galeria */
  .div-galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img8 img9";
  }
  .img-galeria--7 {
    display: none;
  }
  .img-galeria {
    width: 220px;
    height: 220px;
  }
}

@media only screen and (max-width: 575px) {
  /* MOBILE */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .logo-mobile {
    display: block;
  }
  .logo-desk {
    display: none;
  }
  .grid-container {
    -ms-grid-rows: auto 1fr 64px;
        grid-template-rows: auto 1fr 64px;
  }
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-titina {
    margin: 0%;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main {
    margin: 20px 0;
  }
  .enlace-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 70%;
  }
  .nav-icon {
    margin: 1px;
  }
  .nav-footer {
    margin-left: 22px;
  }
  /* Home */
  .div-bienvenidos {
    font-size: 13px;
  }
  /* Menu */
  .img-menu {
    width: 100%;
    height: 100%;
  }
  .div-entradas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div-principales {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .div-postres {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2-menu {
    text-decoration: underline;
  }
  .menu-container {
    text-align: center;
  }
  /* Galeria */
  .div-galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "img1"  "img2" "img3" "img4" "img5"  "img6" "img7" "img8" "img9";
  }
  .img-galeria {
    height: 300px;
    width: 300px;
  }
  /* Contacto */
  .section-contacto {
    font-size: 15px;
  }
  /* Reservas */
  .section-reservas {
    font-size: 13px;
  }
}
/*# sourceMappingURL=stylesNew.css.map */