* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* maps */
.body-home {
  height: 100vh;
}

.grid-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 60px 1fr 64px;
      grid-template-rows: 60px 1fr 64px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .grid-container {
    -ms-grid-rows: auto 1fr 64px;
        grid-template-rows: auto 1fr 64px;
  }
}

@media only screen and (max-width: 575px) {
  .grid-container {
    -ms-grid-rows: auto 1fr 64px;
        grid-template-rows: auto 1fr 64px;
  }
}

.grid-container .header-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
}

.grid-container .main-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main;
}

.grid-container .footer-area {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: footer;
}

.header {
  background-color: #291e24;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.navbar {
  padding: 0%;
}

.navbar .navbar-nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 575px) {
  .navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .navbar-nav .div-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 33.33%;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .navbar .navbar-nav .div-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 575px) {
  .navbar .navbar-nav .div-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .nav-titina {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 200%;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 3px;
}

.navbar .nav-titina:hover, .navbar .nav-titina:focus {
  font-size: 220%;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .navbar .nav-titina {
    margin: 0%;
  }
}

@media only screen and (max-width: 575px) {
  .navbar .nav-titina {
    margin: 0%;
  }
}

.navbar .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 3px black;
}

.logo-mobile {
  display: none;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .logo-mobile {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .logo-mobile {
    display: block;
  }
}

.nav-enlace {
  font-family: 'Bebas Neue';
  color: #ffffff;
  font-size: 160%;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 0.5px;
}

.nav-enlace .nav-enlace.active {
  text-decoration: underline;
}

.nav-enlace:hover, .nav-enlace:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
  font-size: 170%;
  color: #ffffff;
}

.footer {
  background-color: #291e24;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #ffffff;
}

.footer .div-footer {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .titina-foot {
  font-weight: bold;
  font-size: 150%;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 575px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-enlace--color {
  color: #ffffff;
  text-shadow: 0px 0px 0px;
  margin-left: 2%;
}

.nav-icon {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 575px) {
  .nav-icon {
    margin: 1px;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #301717, #421c19, #54231a, #642a18, #743313, #733314, #713214, #703215, #5d291a, #49211b, #341b1a, #1e1515);
}

@media only screen and (max-width: 575px) {
  .main {
    margin: 20px 0;
  }
}

.main h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

.main h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #ffffff;
}

.main h3 {
  color: #ffffff;
}

.main p {
  color: #ffffff;
}

.main span {
  color: #ffffff;
}

/* TABLET */
@media only screen and (min-width: 576px) and (max-width: 970px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .logo-desk {
    display: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
}

/* MOBILE */
@media only screen and (max-width: 575px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .logo-desk {
    display: none;
  }
  .enlace-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 70%;
  }
  .nav-footer {
    margin-left: 22px;
  }
}

.section-home {
  width: 100%;
}

.div-bienvenidos {
  font-size: 17px;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .div-bienvenidos {
    font-size: 13px;
  }
}

.div-bienvenidos .img-home {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.div-bienvenidos .texto-home {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 2%;
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  text-shadow: 0 0 black;
  width: 60%;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.div-bienvenidos .texto-home .p-home {
  line-height: 1.5;
  padding: 0px 10px;
  text-align: center;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.menu-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 575px) {
  .menu-container {
    text-align: center;
  }
}

.menu-container .h1-menu {
  background-color: #38252e;
  width: 90%;
  margin-top: 20px;
  padding: 5px;
}

.h2-menu {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
}

.menu-box, .div-entradas, .div-principales, .div-postres {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #38252e;
  padding: 20px;
  margin: 20px;
}

.menu-margin, .div-entradas .entradas-menu, .div-principales .principales-menu, .div-postres .postres-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 575px) {
  .div-entradas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 575px) {
  .div-principales {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 575px) {
  .div-postres {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.div-bebidas {
  background-color: #38252e;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 black;
}

.div-bebidas .p-menu {
  margin-bottom: 0;
}

.h3-menu {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
}

.img-menu {
  width: 40vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
}

@media only screen and (max-width: 575px) {
  .img-menu {
    width: 100%;
    height: 100%;
  }
}

.galeria-container {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria-container .h1-galeria {
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 90%;
  font-weight: bold;
}

.div-galeria {
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 3%;
  margin: 20px;
  justify-items: center;
      grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .div-galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img8 img9";
  }
}

@media only screen and (max-width: 575px) {
  .div-galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "img1"  "img2" "img3" "img4" "img5"  "img6" "img7" "img8" "img9";
  }
}

.div-galeria .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.div-galeria .img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.div-galeria .img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img3;
}

.div-galeria .img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
}

.div-galeria .img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img5;
}

.div-galeria .img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img6;
}

.div-galeria .img7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img7;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .div-galeria .img7 {
    display: none;
  }
}

.div-galeria .img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img8;
}

.div-galeria .img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img9;
}

.img-galeria {
  width: 26vw;
  height: 26vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  margin: 2%;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
  .img-galeria {
    width: 35vw;
    height: 35vw;
  }
}

@media only screen and (max-width: 575px) {
  .img-galeria {
    height: 73vw;
    width: 73vw;
  }
}

.flip-in-diag-2-br {
  -webkit-animation: flip-in-diag-2-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-diag-2-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-diag-2-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -80deg);
    transform: rotate3d(-1, 1, 0, -80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

@keyframes flip-in-diag-2-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -80deg);
    transform: rotate3d(-1, 1, 0, -80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

.contactanos {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.section-contacto {
  width: 100%;
  font-size: 20px;
  margin: 3%;
}

@media only screen and (max-width: 575px) {
  .section-contacto {
    font-size: 13px;
  }
}

.section-contacto .div-contacto {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-contacto .div-contacto .img-contacto {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-contacto .div-contacto .div-formulario {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 10px;
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  width: 60%;
  text-shadow: 0 0 black;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-contacto .div-contacto .div-formulario .formulario {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.section-contacto .div-contacto .div-formulario .formulario input {
  text-align: left;
  margin-bottom: 2%;
}

.section-llegar {
  display: -ms-grid;
  display: grid;
  padding: 2%;
  width: 86%;
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  font-size: 20px;
  text-align: center;
  margin-bottom: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-llegar .direccion {
  margin-top: 20px;
}

.section-llegar .map {
  border: 0;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  width: 70%;
  height: 50vh;
  margin: 2%;
}

.body-reservas {
  height: 100vh;
}

.section-reservas {
  width: 100%;
  font-size: 23px;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .section-reservas {
    font-size: 13px;
  }
}

.section-reservas .div-reservas {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 90%;
}

.section-reservas .div-reservas .img-reservas {
  width: 86%;
  height: 77vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-reservas .div-reservas .div-form {
  display: -ms-grid;
  display: grid;
  position: absolute;
  padding: 10px;
  background-color: #38252e;
  -webkit-box-shadow: 5px 5px 10px #0c0b0b;
          box-shadow: 5px 5px 10px #0c0b0b;
  width: 60%;
  text-shadow: 0 0 black;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.section-reservas .div-reservas .div-form input {
  margin-bottom: 1%;
  width: 90%;
}

.section-reservas .div-reservas .div-form select {
  margin-bottom: 1%;
  width: 90%;
}
/*# sourceMappingURL=main.css.map */