.contactanos {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
}
.section-contacto {
    width: 100%;
    font-size: 20px;
    margin: 3%;
        @include mobile {
            font-size: 13px;
        }
    .div-contacto {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        .img-contacto {
            width: 86%;
            height: 77vh;
            object-fit: cover;
            object-position: top;
        }
        .div-formulario {
            display: grid;
            position: absolute;
            padding: 10px;
            background-color: map-get($styleBackLight, backgroung-color);
            box-shadow: map-get($styleBackLight, box-shadow);
            width: 60%;
            text-shadow: 0 0 black;
            align-content: space-evenly;
            justify-content: center;
            .formulario {
                display: grid;
                justify-items: center;
                input{
                    text-align: left;
                    margin-bottom: 2%;
                }
            }
        }
    }
}
.section-llegar {
    display: grid;
    padding: 2%;
    width: 86%;
    background-color: map-get($styleBackLight, backgroung-color);
    box-shadow: map-get($styleBackLight, box-shadow);
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
    align-items: center;
    .direccion {
        margin-top: 20px;
    }
    .map {
        border: 0;
        box-shadow: map-get($styleBackLight, box-shadow);
        width: 70%;
        height: 50vh;
        margin: 2%;
    }
}