.menu-container {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    justify-items: center;
    align-items: center;

    @include mobile {
        text-align: center;
    }

    .h1-menu {
        background-color: map-get($styleBackLight, backgroung-color);
        width: 90%;
        margin-top: 20px;
        padding: 5px;
    }
}

.h2-menu {
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
}

.menu-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: map-get($styleBackLight, backgroung-color);
    padding: 20px;
    margin: 20px;
}

.menu-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-entradas {
    @extend.menu-box;

    .entradas-menu {
        @extend.menu-margin;
    }

    @include mobile {
        justify-content: center;
        flex-direction: column;
    }
}

.div-principales {
    @extend.menu-box;

    .principales-menu {
        @extend.menu-margin;
    }

    @include mobile {
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.div-postres {
    @extend.menu-box;

    .postres-menu {
        @extend.menu-margin;
    }

    @include mobile {
        justify-content: center;
        flex-direction: column;
    }
}

.div-bebidas {
    background-color: map-get($styleBackLight, backgroung-color);
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 black;

    .p-menu {
        margin-bottom: 0;
    }
}

.h3-menu {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

.img-menu {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    object-position: center;
    box-shadow: map-get($styleBackLight, box-shadow);

    @include mobile {
        width: 100%;
        height: 100%;
    }
}

